/* 슬라이더 전체 크기 설정 */
.swiper {
  margin-top:15px;
  width: 100%;
  height: 400px; /* 슬라이더 높이를 적당히 조정하세요. */
}

/* 슬라이드 기본 스타일 */
.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이미지 크기 조정 */
.swiper-slide img {
  display: block;
  max-width: 100%; /* 이미지가 슬라이드 너비를 넘지 않도록 설정 */
  max-height: 100%; /* 이미지가 슬라이드 높이를 넘지 않도록 설정 */
  object-fit: contain; /* 이미지가 잘리지 않고 슬라이드 내에서 전체적으로 보이도록 설정 */
}
