/* 전체 문서에 폰트 적용 */
body {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* 팀 정보 컨테이너 스타일 */
#team-info {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff; /* 배경색 흰색 */
}

/* 팀 테이블 스타일 */
table {
    width: 100%;
    border-spacing: 0; /* 셀 간의 간격을 없앰 */
    margin: 20px 0;
    border: 2px solid black; /* 테이블 전체 외곽 테두리 */
    overflow: hidden; /* 둥근 테두리가 셀에 적용되도록 */
}

th, td {
    border: 1px solid black; /* 셀 내부 테두리 */
    padding: 10px;
    text-align: center;
    font-weight: normal;
}

th {
    background-color: #e0e0e0; /* 헤더 배경색 연한 회색 */
}

td {
    background-color: #fff; /* 데이터 셀 배경색 흰색 */
}

/* 이미지 스타일링 */
#team-info img {
    width: 200px; /* 이미지 너비 고정 */
    height: auto; /* 이미지 높이 자동 조정 */
}
